body{
    background-color:#008cff;
    margin: 0px;
    padding: 0px;
}

nav{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 5%;
    box-shadow: 2px 2px 12px;
}
nav ul{
    display:flex;
    list-style: none;   
    }
    
    nav ul li a {
        margin: 30px;    
        text-decoration: none;    
        color: rgb(223, 241, 236);
        font-family: 'Times New Roman', Times, serif;
        font-weight: 800;
    }
    nav a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        font-weight: bolder;

    }
    
    
    .layout{
        height:90%;
        width:80% ;
        align-content: center;
        \\background: cornsilk;
        margin: 2% 5% 2% 5%;
        box-shadow: 5 717 15px;
        
    }
    .up{
        text-align: center;
        padding:16px;
        background: rgb(3, 24, 71);

    
    }
    img{
        border-radius: 50%;
        width: 150px;
    }
    .col1{
        width:35%;

   }
   .col2{
       width: 60%;
       margin-left: 100%;
       
   }
   .contentb{
       padding: 20px;
   }
   .head{
       text-transform: uppercase;
       font-weight: bold;
       font-family: sans-serif;
       margin-left: 10%;
   }
   h4{
       color: lavenderblush;      
   }
   .up p {
       color: lavenderblush;
       font-weight: lighter;
       font-style: italic;
       font-family: monospace;
   }
   .clearfix{
       clear: both;
       display: table;         
   }